/*******************************
    Search Sidebar Styles
********************************/
#search-bar {
    .sidebar {
        text-align: center;

        #search-form {
            position: fixed;
            left: 0;
            background: lightgray;
            width: 250px;
            min-height: 100vh;

            .form-group {
                #search {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                #activate {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
